#row
{
	display: flex;
}
#col1
{
	width	: 10%;
	color   : red;
	font-weight: bold;
}
#col2
{
	width: 90%;
	background-color: navy;
	color: white;
	cursor: pointer;
}
*
{
	font-family: calibri;
}
#img1
{
	height: 95px;
	width: 180px;
}
#col3 ul
{
	display: flex;
}
ul li
{
	list-style-type: none;
	margin-left: 110px;
	font-size: 20px;
}
a
{
	text-decoration: none;
	cursor: pointer;
	color: navy;
}
a:hover
{
	text-shadow: 5px 5px 12px navy;
	color: red;
}
#img2
{
	width: 100%;
}
#col4
{
	width: 33%;
	background-color: navy;
	color: white;
	text-align: center;
	margin-left: 5px;
	margin-top: 5px;
}
#col5
{
	width: 33%;
	text-align: center;
	margin-left: 5px;
	margin-top: 5px;
}
#col5_1
{
	width: 33%;
	margin-left: 5px;
	margin-top: 5px;
}
#img3
{
	width: 15px;
	height: 15px;
}
b
{
	color: red;
	text-align: left;
}
#col8
{
	color: navy;
}
#col9
{
	color: white;
	background-color: red;
	width: 10%;
	margin-top: 5px;
}
#col10
{
	text-align: left;
	margin-left: 5px;
}
